@use "./layout/index";
@use "./helpers/index" as *;
@use "./components/index" as components;

body {
    @include centering;
    flex-direction: column;

    > .form {
        display: flex;
        width: 70%;
        min-width: 800px;
        height: 80%;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px;
        border-radius: 10px;
        overflow: hidden;

        > * {
            width: 50%
        }

        form {
            @include centering;
            background-color: #fff;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5% 8%;

            .inputs {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 15px;
            }

            input:not([type="submit"]) {
                border-bottom: solid 1px #000;
                font-size: 16px;
                padding: 0 {
                    bottom: 3px
                };
                margin-bottom: 010px;
                color: lighten($color: #000000, $amount: 23);
            }

            input[type="submit"] {
                margin-top: 15px;
                font-size: 17px;
            }

            .title {
                align-self: flex-start;
            }
        }

        .bg {
            background-image: url(/images/loginbg.webp);

            .mark {
                @include centering;
                flex-direction: column;
                background-color: #000b;
                height: 100%;
                padding-bottom: 10%;

                * {
                    color: #ddd;
                }
                
            }

        }
    }
}