@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0 0 3px;
}

@mixin basicUl {
    list-style-type: none;
    display: flex;
}